<!DOCTYPE html>
<html xmlns:th=http://www.thymelef.org>
<head>
<meta http-equiv="Content-Type" content="text-html; charset=UTF-8">
<title>Products</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	</head>
	<body>
	<div class="container mt-5">
	<div class="row justify-content-center">
	<div class="card m-1 p-1">
		<div class="row">
		<div class="col-md-7">
		<img class="float-left ml-1" th:alt="${id.picture}" th:src="@{'/uploads/'+${id.picture}}">
		</div>
		<div class="col-md-5 mt-3">
		<h3 th:text="${id.name}"></h3>
		<h3 th:text="${id.description}"></h3>
		<h3 th:text="${id.price}"></h3>
		<h3 th:text="${id.weight}"></h3>
		
		</div>
		</div>
	</div>
	
	</div>
	
	
	</div>
	
	
	
	</body>